* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Questrial", sans-serif;
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Questrial&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
    background-color: #0b0016;
    overflow-x: hidden;
}

#principal {
    height: 50vh;
    background-image: url(h1_hero1.jpg);
    background-size: 40%;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 45%);
    background-blend-mode: multiply;
}

/* BARRA DE NAVEGAÇÂO */
header>img {
    margin-left: 16%;
    margin-top: 4vh;
    margin-bottom: 4vh;
    vertical-align: middle;
}

.telefone {
    font-size: 18px;
    color: white;
    text-decoration: none;
    margin-left: 40%;
}

#check {
    height: 10%;
    width: 1.5%;
    left: 0;
    margin-left: 84.35%;
    top: 10px;
    position: absolute;
    opacity: 0;
}

#check:checked {
    z-index: 99;
}

#check:checked~aside {
    right: 0;
}

#menu {
    list-style: none;
}

.btn_free {
    transition: 0.5s;
    background-color: #d6a04c;
    padding: 14px 24px;
    color: white;
    text-decoration: none;
    margin-left: 2%;
    text-decoration: none;
    border: solid #d6a04c 1px;
}

.btn_free:hover {
    background-color: transparent;
    border: solid #d6a04c 1px;
    color: #d6a04c;
}

svg {
    display: inline-block;
    position: relative;
    fill: white;
    width: 30%;
    top: 5%;   
}

aside {
    background-color: #111111;
    width: 335px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -400px;
    transition: 0.5s;
    z-index: 98;
}

#menu {
    width: 2%;
    margin-left: 2%;
    position: relative;
    height: 25px;
    display: inline-block;
}

#menu>span {
    border: solid white 1px;
    display: inline-block;
    width: 90%;
}

#menu_interno {
    padding-top: 50%;
    text-align: center;
}

.click_menu {
    font-size: 20px;
    text-decoration: none;
    display: block;
    height: 60px;
    line-height: 60px;
}

/* BARRA DE NAVEGAÇÂO */

#selecionar>#home {
    display: inline-block;
    position: absolute;
    list-style: none;
    top: 21%;
    left: 21.5%;
}

#selecionar>i {
    display: inline-block;
    position: absolute;
    list-style: none;
    top: 21%;
    left: 24.5%;
}

#selecionar>#about {
    display: inline-block;
    position: absolute;
    list-style: none;
    top: 21%;
    left: 25.5%;
}

#principal>h2 {
    position: absolute;
    display: inline-block;
    font-size: 50px;
    left: 21.5%;
    top: 25%;
}

#text_about_is {
    display: inline-block;
    position: absolute;
    font-size: 60px;
    left: 21.5%;
    top: 26%;
}

#AbautTXT {
    color: #fff;
    font-family: "Cabin", sans-serif;
    font-size: 30px;
    display: block;
    position: relative;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 5%;
    left: 16%;
}

#inf_abaut>#bloco1 {
    font-family: "Questrial", sans-serif;
    position: absolute;
    top: 72%;
    left: 22%;
    font-size: 27px;
    margin: 0px 0px 15px;
}

#inf_abaut>#bloco2 {
    font-family: "Questrial", sans-serif;
    position: absolute;
    top: 72%;
    left: 50%;
    font-size: 18px;
    margin: 0px 0px 15px;
}

#about1 {
    position: absolute;
    margin-left: 22%;
    margin-top: 14%;
}

#btn_learn {

    display: inline-block;
    position: absolute;
    padding: 14px 24px;
    color: white;
    text-decoration: none;
    text-decoration: none;
    border: solid #d6a04c 1px;
    left: 50%;
    top: 93.5%;


}

#btn_learn:hover {
    transition: 0.5s;
    background-color: #d6a04c;
    border: solid #d6a04c 1px;
}

#about2 {
    position: absolute;
    margin-left: 49.99%;
    margin-top: 19%;
}

#titulo_whyus {
    display: inline-block;
    position: absolute;
    left: 62.2%;
    font-size: 40px;
    margin-top: 9%;
}

#inf_whyus {
    display: inline-block;
    position: absolute;
    font-size: 27px;
    left: 62.2%;
    margin-top: 14%;
}

#img_whyus {
    display: inline-block;
    position: absolute;
    top: 18%;
    left: 15%;
}

#btn_whyus {
    display: inline-block;
    position: relative;
    border: 1px solid #D6A04C;
    color: #D6A04C;
    background: none;
    text-transform: normal;
    padding: 12px 27px !important;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    position: relative;
    transition: 0.4s linear;
    position: relative;
    overflow: hidden;
    border-radius: 0px;
    z-index: 1;
    left: 62%;
    margin-top: 27%;
}

#btn_whyus:hover {
    background-color: white;
    border: solid #ffffff 1px;
}

#whyus {
    display: inline-block;
    position: absolute;
    top: 150%;
    background-color: #1e1e1e;
    width: 100%;
    height: 87vh;
}

#feedback {
    position: relative;
    display: inline-block;
    padding-bottom: 30%;
    width: 100%;
    background-color: #0a0a0a;
    border-color: #0a0a0a;
    margin-top: 86%;
}

#icon {
    position: absolute;
    top: 20%;
    left: 48.2%;
}

#text_feedback {
    text-align: center;
    position: absolute;
    font-family: "Questrial", sans-serif;
    color: #c7c7c7b7;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
    line-height: 1.4;
    top: 32%;
    left: 32.5%;
}

#feedback>img {
    position: absolute;
    top: 56%;
    left: 48%;
}

#feedback>b {
    position: absolute;
    font-size: 10px;
    top: 73%;
    left: 45.7%;
}

#left {
    position: absolute;
    color: white;
    width: 1%;
    top: 40%;
    left: 20%;
}

#galeria1 {
    transition: 0.5s;
    display: block;
    position: relative;
    border: solid rgb(59, 59, 59) 1px;
    background-color: transparent;
    width: 70%;
    height: 30vh;
    left: 14%;
}

#btn_galeria {
    display: inline-block;
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #241a2e;
    border-radius: 60%;
    left: 92%;
    top: 40%;
    opacity: 1;
    transition: 0.3s;
}

#galeria1>img {
    position: absolute;
    left: 2%;
    top: 10%;
}

.titulo {
    display: inline-block;
    position: absolute;
    font-size: 14px;
    left: 24%;
    top: 20%;
}

.text {
    display: inline-block;
    position: absolute;
    font-size: 28px;
    left: 24%;
    top: 35%;
    transition: 0.5s;
}

.data {
    display: inline-block;
    position: absolute;
    font-size: 14px;
    left: 24%;
    top: 70%;
}

#galeria2 {
    transition: 0.6s;
    display: block;
    position: relative;
    border: solid rgb(59, 59, 59) 1px;
    background-color: transparent;
    margin-top: 3%;
    width: 70%;
    height: 30vh;
    left: 14%;
}

#galeria2>img {
    position: absolute;
    left: 2%;
    top: 10%;
}

#galeria1:hover {
    border: rgb(41, 41, 41);
    background-color: rgb(41, 41, 41);

    .text {
        color: #D6A04C;
    }

    #btn_galeria {
        background-color: #D6A04C;
    }
}

#galeria2:hover {
    border: rgb(41, 41, 41);
    background-color: rgb(41, 41, 41);

    .text {
        color: #D6A04C;
    }

    #btn_galeria {
        background-color: #D6A04C;
    }
}

.icon_arrow {
    position: relative;
    width: 30%;
    top: 35%;
    left: 35%;
    transition: 0.2s;
}

#rodape {
    margin-top: 10%;
    position: absolute;
    background-color: #1e1e1e;
    border: #1e1e1e solid 1px;
    width: 100%;
    height: 56%;
}

#logo_rodape {
    display: inline-block;
    position: absolute;
    margin-top: 7%;
    margin-left: 16.2%;
}

#bloco1_rodape>h4 {
    display: inline-block;
    position: absolute;
    top: 27%;
    left: 27%;
    font-size: 20px;
}

.links1 {
    display: inline-block;
    position: absolute;
    left: 27%;
    top: 40%;
    list-style: none;
    text-decoration: none;
}

.links2 {
    display: inline-block;
    position: absolute;
    left: 27%;
    top: 48%;
    list-style: none;
}

.links3 {
    display: inline-block;
    position: absolute;
    left: 27%;
    top: 56%;
    list-style: none;
}

.links4 {
    display: inline-block;
    position: absolute;
    left: 27%;
    top: 64%;
    list-style: none;
}

#bloco2_rodape>h4 {
    display: inline-block;
    position: absolute;
    top: 27%;
    left: 40%;
    font-size: 20px;
}

.links5 {
    display: inline-block;
    position: absolute;
    left: 40%;
    top: 40%;
    list-style: none;
}

.links6 {
    display: inline-block;
    position: absolute;
    left: 40%;
    top: 48%;
    list-style: none;
}

.links7 {
    display: inline-block;
    position: absolute;
    left: 40%;
    top: 56%;
    list-style: none;
}

#bloco3_rodape>h4 {
    display: inline-block;
    position: absolute;
    top: 27%;
    left: 62%;
    font-size: 20px;
}

#bloco3_rodape>p {
    display: inline-block;
    position: absolute;
    left: 62%;
    top: 37%;
    font-family: "Questrial", sans-serif;
    color: #545454;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
    line-height: 1.4;

}

#bloco3_rodape>input {
    display: inline-block;
    position: absolute;
    width: 18%;
    height: 60px;
    padding: 10px 20px;
    border: 0;
    border-radius: 6px 0px 0px 6px;
    color: #5C6168;
    background: #fff;
    left: 62%;
    top: 48%;
    z-index: 99;
}

#bloco3_rodape>button {
    position: absolute;
    border: 0;
    cursor: pointer;
    padding: 30px 40px;
    line-height: 1;
    border-radius: 0 6px 6px 0;
    background: #D6A04C;
    left: 80%;
    top: 48%;
}

#bloco3_rodape>button>img {
    display: inline-block;
    position: absolute;
    left: 38%;
    top: 35%;
}

#facebook {
    position: absolute;
    display: inline-block;
    background-color: white;
    width: 1%;
    border-radius: 50%;
    top: 66%;
    left: 62%;
    transition: 0.5s ease-in-out;
}

#facebook:hover {
    background-color: #D6A04C;
    transform: rotateY(180deg);
}

#instagram {
    position: absolute;
    display: inline-block;
    background-color: white;
    width: 1%;
    border-radius: 50%;
    top: 66%;
    left: 65%;
    transition: 0.5s ease-in-out;
}

#instagram:hover {
    background-color: #D6A04C;
    transform: rotateY(180deg);
}

#linkedin {
    position: absolute;
    display: inline-block;
    background-color: white;
    width: 1%;
    border-radius: 50%;
    top: 66%;
    left: 68%;
    transition: 0.5s ease-in-out;
}

#linkedin:hover {
    background-color: #D6A04C;
    transform: rotateY(180deg);
}

#youtube {
    position: absolute;
    display: inline-block;
    background-color: white;
    width: 1%;
    border-radius: 50%;
    top: 66%;
    left: 71%;
    transition: 0.5s ease-in-out;
}

#youtube:hover {
    background-color: #D6A04C;
    transform: rotateY(180deg);
}

#facebook_menu {
    position: absolute;
    display: inline-block;
    background-color: white;
    width: 6%;
    border-radius: 50%;
    top: 77%;
    left: 27%;
    transition: 0.5s ease-in-out;
}

#facebook_menu:hover {
    background-color: #D6A04C;
    transform: rotateY(180deg);
}

#instagram_menu {
    position: absolute;
    display: inline-block;
    background-color: white;
    width: 6%;
    border-radius: 50%;
    top: 77%;
    left: 39%;
    transition: 0.5s ease-in-out;
}

#instagram_menu:hover {
    background-color: #D6A04C;
    transform: rotateY(180deg);
}

#linkedin_menu {
    position: absolute;
    display: inline-block;
    background-color: white;
    width: 6%;
    border-radius: 50%;
    top: 77%;
    left: 51%;
    transition: 0.5s ease-in-out;
}

#linkedin_menu:hover {
    background-color: #D6A04C;
    transform: rotateY(180deg);
}

#youtube_menu {
    position: absolute;
    display: inline-block;
    background-color: white;
    width: 5%;
    border-radius: 50%;
    top: 77%;
    left: 63%;
    transition: 0.5s ease-in-out;
}

#youtube_menu:hover {
    background-color: #D6A04C;
    transform: rotateY(180deg);
}