<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pagina2.css') }}">
    <title>Architecture | Meu Template</title>
</head>

<body>
    <div id="principal">
        <header>
            <img src="logo.png.webp" alt="">
            <a href="" class="telefone">P: 10(89) 273 3627</a>
            <a href="" class="btn_free">Get Free Quote</a>
            <div id="menu">
                <span></span>
                <span></span>
            </div>
            <input type='checkbox' id='check'>
            <aside>

                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="17" height="17" viewBox="0 0 17 17">
                    <g>
                    </g>
                    <path
                        d="M9.207 8.5l6.646 6.646-0.707 0.707-6.646-6.646-6.646 6.646-0.707-0.707 6.646-6.646-6.647-6.646 0.707-0.707 6.647 6.646 6.646-6.646 0.707 0.707-6.646 6.646z" />
                </svg>
                <ul id="menu_interno">
                    <a class="click_menu" href="index.html">Home</a>
                    <a class="click_menu" href="about.html">About</a>
                    <a class="click_menu" href="services.html">Services</a>
                    <a class="click_menu" href="projects.html">Projects</a>
                    <a class="click_menu">Blog+</a>
                    <a class="click_menu" href="contact.html">Contact</a>
                </ul>
                <a href=""><img src="facebook.svg" alt="" id="facebook_menu"></a>
                <a href=""><img src="instagram.svg" alt="" id="instagram_menu"></a>
                <a href=""><img src="linkedin.svg" alt="" id="linkedin_menu"></a>
                <a href=""><img src="youtube.svg" alt="" id="youtube_menu"></a>
            </aside>
        </header>
        <div id="selecionar">
            <a href="index.html" id="home">Home</a> <i>/</i> <a href="about.html" id="about">About</a>
        </div>
        <H2>About Us</H2>
    </div>

    <div id="About_us">
        <div id="AbautTXT">
            <h2>About Us</h2>
        </div>

        <div id="inf_abaut">
            <p id="bloco1">"Belara is a multi-awards <br> winning architectural and <br>design studio operating in the
                <br>
                field of interior design and <br> architecture.
            </p>
            <p id="bloco2">
                The studio offers tailor-made solutions for every <br> project that has a unique identity according to
                its
                <br>
                context. Understanding the scope and the projects <br> ambitions, and through listening to clients,
                users,
                <br> and
                contractors help us in creating well-conceived <br> design solutions.
            </p>
        </div>
        <a href="" id="btn_learn"> Learn More </a>
        <img src="about1.jpg" alt="" id="about1">
        <img src="about2.jpg" alt="" id="about2">
    </div>

    <div id="whyus">
        <div id="titulo_whyus">
            <h2>Why Us?</h2>
        </div>
        <div id="inf_whyus">
            <p>
                Belara Nakameguro is located in a <br> quiet location, a 6-minute walk <br> from JR Nakameguro
                Station and <br> a side street from Komazawa Dori. <br> It has 5 floors above ground, with <br>
                office space.
            </p>
        </div>
        <a id="btn_whyus">Learn More</a>
        <img src="about3.jpg" alt="" id="img_whyus">

    </div>

    <div id="feedback">
        <div id="icon">
            <img src="Sem título.png" alt="">
        </div>

        <p id="text_feedback">
            "Belara is an office building brand that contributes to people's <br> rich work life by providing
            creative office space under the <br> slogan"A BASE FOR GOOD LIFE."
        </p>

        <i><img src="iconizer-arrow-left.png" alt="" id="left"></i>

        <img src="founder-img.png" alt="">
        <b>Buck Kinnear @Creative Designer</b>
    </div>

    <div>
        <div id="galeria1">
            <a href="">
                <div id="btn_galeria">
                    <img src="iconizer-arrow-right-_1_.png" alt="" class="icon_arrow">
                </div>
            </a>
            <img src="single-rooms1.jpg" alt="">
            <div>
                <span class="titulo">Architecture Design</span>
                <h3 class="text">Curating a workplace that inspires <br> all of us</h3>
                <p class="data">12 Feb 2021 </p>
            </div>
        </div>

        <div id="galeria2">
            <a href="">
                <div id="btn_galeria">
                    <img src="iconizer-arrow-right-_1_.png" alt="" class="icon_arrow">
                </div>
            </a>
            <img src="single-rooms1.jpg" alt="">
            <div>
                <span class="titulo">Architecture Design</span>
                <h3 class="text">Curating a workplace that inspires <br> all of us</h3>
                <p class="data">12 Feb 2021 </p>
            </div>
        </div>
    </div>

    <div id="rodape">
        <img src="logo.png (1).webp" alt="" id="logo_rodape">
        <div id="bloco1_rodape">
            <h4>Quick Links</h4>
            <li class="links1"><a href="" class="links">Work</a></li>
            <li class="links2"><a href="" class="links">Services</a></li>
            <li class="links3"><a href="" class="links">Products</a></li>
            <li class="links4"><a href="" class="links">Tips & Tricks</a></li>
        </div>

        <div id="bloco2_rodape">
            <h4>Services</h4>
            <li class="links5"><a href="" class="links">FAQ</a></li>
            <li class="links6"><a href="" class="links">Submit Ticket</a></li>
            <li class="links7"><a href="" class="links">Contact Us</a></li>
        </div>

        <div id="bloco3_rodape">
            <h4>Newsletter</h4>
            <p>Subscribe newsletter to get updates.</p>
            <input type="text">
            <button><img src="Icon-send.svg" alt=""></button>
        </div>
        <a href=""><img src="facebook.svg" alt="" id="facebook"></a>
        <a href=""><img src="instagram.svg" alt="" id="instagram"></a>
        <a href=""><img src="linkedin.svg" alt="" id="linkedin"></a>
        <a href=""><img src="youtube.svg" alt="" id="youtube"></a>
    </div>
</body>

</html>